.find {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 220px;
    &--textbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 140px;
        hr {
            width: 55px;
            border-top: 2px solid #000;
        }
        h3 {
            color: #000;
            font-size: 36px;
            font-weight: 700;
            line-height: 56px;
        }
        p {
            padding-bottom: 20px;
            padding-top: 20px;
        }
    }
}